{%load static%}
<!-- FOOTER SECTION START -->
<div class="footer-main-section w-100 float-left">
    <div class="container">
        <div class="footer-inner-con">
            <div class="footer-box">
                <a href="index.html">
                    <figure>
                        <img src="{% static 'assets/images/footer-logo.png'%}" alt="footer-logo">
                    </figure>
                </a>
                <p>For more details and clarifications<br> call us directly to the number<br> provided below...</p>
                <div class="footer-call-button d-inline-block">
                    <a class="d-flex align-items-center footer-call-btn" href="tel:+11234567890">
                        <i class="fas fa-mobile-alt"></i>
                        <p class="mb-0">
                            <small class="d-block">CALL US 24/7</small>
                            <span class="d-block">0656940180</span>
                        </p>
                    </a>
                </div>
            </div>

            <div class="footer-box footer-navigation">
                <h6>Navigation</h6>
                <ul class="list-unstyled mb-0">
                    <li class="position-relative">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="position-relative">
                        <a href="{ % url 'contact' %}">About Us</a>
                    </li>
                    <li class="position-relative">
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="footer-box footer-contact">
                <h6>Contact Us</h6>
                <ul class="list-unstyled mb-0">
                    <li>
                        <span class="d-block">Address:</span>
                        <p>Dar es salaam Tanzania </p>
                    </li>
                    <li>
                        <span class="d-block mail-span">Email:</span>
                        <a href="mailto:info@confx.com">mocareabraham07@gmail.com</a>
                    </li>
                    <li class="footer-social-links">
                        <ul class=" list-unstyled mb-0">
                            <li>
                                <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Faccounts%2Fonetap%2F%3Fnext%3D%252F%26__coig_login%3D1"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- COPYRIGHT SECTION START -->
<div class="copyright w-100 float-left text-center">
    <div class="container">
        <div class="copyright-content">
            <p class="mb-0">Copyright © 2024 mocare All Rights Reserved.</p>
        </div>
    </div>
</div>
<a id="button"></a>
<!-- COPYRIGHT SECTION END -->