{% load static %}

{% include 'dash/header.html' %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<!-- [ breadcrumb ] start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-12">
										<div class="page-header-title">
											<h5>Home</h5>
										</div>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html"><i
														class="feather icon-home"></i></a></li>
											<li class="breadcrumb-item"><a href="#!">Marathon Dashboard</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- [ breadcrumb ] end -->
						<div class="container">
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text"><small class="text-muted">Start Time: {{ event.start_time }}</small></p>
                    <p class="card-text"><small class="text-muted">Location: {{ event.location }}</small></p>
                    <p class="card-text"><small class="text-muted">Ticket Price: <strong>{{ event.price }}</strong></small></p>
                    <button type="button" class="btn btn-success buy-ticket-button"
                            data-event-id="{{ event.id }}"
                            data-event-title="{{ event.title }}"
                            data-event-price="{{ event.price }}">Buy Ticket</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ Main Content ] end -->

{% include 'dash/footer.html' %}