{% load static %}
{% include 'dash/header.html' %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<!-- [ breadcrumb ] start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-12">
										<div class="page-header-title">
											<h5>Home</h5>
										</div>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html"><i
														class="feather icon-home"></i></a></li>
											<li class="breadcrumb-item"><a href="#!">Marathon Dashboard</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- [ breadcrumb ] end -->
						
                        <!-- [ Main Content ] start -->
						
                      <h1>WELCOME TO OUR MARATHON MANAGEMENT SYSTEM</h1>
					  <h4>Your ultimate solution for seamless and efficient planning of marathon events!</h4>
						<!-- [ Main Content ] end -->
						<ul>
							{% for kuku in kukus %}
								<li>
									<strong>{{ kuku.title }}</strong> - {{ kuku.start_time }}
									<p>{{ kuku.description }}</p>
									<a href="{% url 'edit' event_id=kuku.id %}">Edit Event</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ Main Content ] end -->

{% include 'dash/footer.html' %}